
<div>

	<a  class="icons-lg li-ic myContact" href="https://www.linkedin.com/in/devanshi-trivedi-developer/"><i class="fa fa-linkedin"> </i></a>
			
    &nbsp;&nbsp;
	<a  class="icons-lg fb-ic myContact" href="https://www.facebook.com/devanshi.tivedi"><i class="fa fa-facebook"> </i></a>
	&nbsp;&nbsp;
	<a  class="icons-sm email-ic myContact" href="https://mail.google.com/mail/?view=cm&fs=1&to=devanshi.trivedi.27@gmail.com&su=HelloFromYourWebsite"><i class="fa fa-envelope"> </i></a>
	&nbsp;&nbsp;
	<a  class="icons-sm email-ic myContact" href="https://github.com/datrived"><i class="fa fa-github"> </i></a>
</div>