<div class="row">
	<div class="col-md-12 mySkill">

		<h1 class="greenHeading"> What I Know</h1>
		<ul>
			<li>
				<h3>Languages </h3>
				<h4> Java, Python, C, C++, Kotlin, Swift </h4>
			</li>
			<li>
				<h3>Web development </h3>
				<h4>HTML5 and XHTML, CSS3, JavaScript, jQuery PHP, Bootstrap, Django, Node.js, Angular.js, D3.js, WebPack, ES6, React.js, Express.js, Typescript, Vue.js, Sass and Compass, Adobe XD, Karma</h4>
			</li>
			<li>
				<h3>Web Standards and Services</h3>
				<h4>JSON, AJAX, REST, SOAP, HTTP, XML, XSD, TCP/IP, Web 2.0, OAuth 2.0, Promise</h4>
			</li>
			<li>
				<h3>Database and Mobile Development</h3>
				<h4>Oracle, MySQL, SQLite, MongoDB, PostgreSQL, Android (Java and Kotlin), iOS</h4>
			</li>
				
			<li>
				<h3>Experienced In</h3>
				<h4>Responsive design, Spring Boot, Spring MVC, Tomcat, Cross-browser compatibility, OOD, SDLC, Agile and Scrum Methodology, Apache, Git, Version control, Hadoop and Distributed computing, Cloud Computing, UX/UI design optimization and A/B Testing, AWS</h4>
			</li>
			<li>
				<h3 >Operating Systems</h3>
				<h4>OSX (Mac OS), Windows, Linux, Unix</h4>
			</li>

		</ul>
	</div>				
</div>

<div class="row">
	<div class="col-md-12 mySkill">
		<h1 class="greenHeading"> Experience</h1>
		<ul>
			<li>
				<h3>1. Full-Stack Software Developer Intern</h3>
				<h4>TrySome Inc.</h4>
				<h4>Brooklyn, NY</h4>
				<h4>Jun 19, 2017 - Aug 15, 2017</h4>
						
			</li>
			<li>
				<h3>2. Co-founder and Full-Stack Developer</h3>
				<h4>Soft Soluca </h4>
				<h4>Vadodara, Gujarat, India</h4>
				<h4>Jul, 2013 - Jan, 2015</h4>
							
			</li>
		</ul>

	</div>
</div>

<div class="row">
	<div class="col-md-12 mySkill">
		<h1 class="greenHeading">Education</h1>
		<ul>
			<li>
				<h3>1. Master of Science - Computer Software Engineering   </h3>
				<h4>Arizona State University, Tempe, AZ</h4>
				<h4>GPA- 3.33/4</h4>
				<h4>December - 2017</h4>
						
			</li>
			<li>
				<h3>2. Bachelor of Engineering- Computer Science and Information Technology  </h3>
				<h4>Faculty of Engineering and Technology - MSU, Vadodara, India</h4>
				<h4>GPA - 3.51/4</h4>
				<h4>May - 2013</h4>
							
			</li>
		</ul>

	</div>
</div>
